/*con header, main e footer globale intendo tutte quelle caratteristiche che dovranno avere indipendemente in quale pagina si trovano*/

/*header globale*/

header a{
  text-decoration: none;
}

header{
  padding: 1em;
  color: white;
  background-color: #0a0a0a;
  border-bottom: solid 3px rgb(246, 250, 31);
}

.link{
  color: black;
}

.profile{
  margin: 1em;
}

.data {
  z-index: 3;
  position: absolute;
}

.modal-overlay2{
  background-color: rgba(0, 0, 0, 0.5);

}

.modal-overlay{
  position: absolute;
    color: black;
    box-shadow: 1px 1px 12px;
    padding: 1em;
    background: white;
    left: 30em;
    top: 10em;
    z-index: 3;
}

.profileDropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 3;
}

.brand{
  font-size: x-large;
  font-weight: bolder;
  color: orangered;
  margin: 1em;
}

.search{
  margin-right: 0.5em;
}

.alertLoginRegister{
  position: fixed;
  z-index: 3;
  background-color: #54ff54db;
  width: 80%;
  text-align: center;
  left: 8em;
  top: 7em;
  padding: 1em;
  color: #1f891f;
  border-radius: 15px;
}

/*loading globale*/

.caricamentoSchermata{
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

/*error globale*/

/*header List*/

.listNavbar{
  display: inline-grid;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (min-width: 768px) {
  .listNavbar{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
  }
}

.settings{
  order: 2;
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
}

@media (min-width: 768px) {
  .settings{
    order: 0;
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
  }
}


.settings button{
  border: none;
  background-color: white;
}

.profile{
  border: none;
  border-radius: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
}

.profileDropdown{
  position: absolute;
}

.profileDropdown ul{
  position: absolute;
  background-color: white;
  padding: 1em;
  margin: 0;
  z-index: 3;
  box-shadow: 1px 1px 11px;
  border-radius: 10px;
  left: -5em;
}

.profileDropdown ul li{
  list-style: none;
  padding: 1em;
  box-shadow: 0px 1px 4px;
}

.guestPicker{
  background-color: white;
  color: black;
  position: absolute;
  z-index: 3;
  padding: 1em;
  box-shadow: 1px 1px 6px;
}

.guestPicker button{
  background-color: white;
  margin: 0.5em;
}


/*main globale*/

main{
  margin: 0;
  text-align: center;
}

/*main Home*/

.imgCopertina{
  background-image: url(./img/backgourn\ titolo.jpg);
}

.titlePrimary{
  background-color: white;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  border-radius: 10px;
}

.data{
  z-index: 3;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 6px;
}

.selection{
  position: relative;
}

/* questa classe serve per assicurare che tutto cio al disotto del form si oscuri
e con l'indez 1 per non contrastare il form, se fosse superiore a questul'timo non ci sarebbe l'oscuramento */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /*per oscurare lo sfondo*/
  z-index: 1; 
}

.form{
  padding: 2em;
  text-align: center;
  box-shadow: -1px 1px 13px 1px;
  width: 60%;
  position: absolute;
  left: 18em;
  bottom: 15em;
  background-color: white;
  z-index: 2;
}

.listSuggest{
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 8px 1px;
  flex-direction: column;
  display: flex;
  padding-bottom: 1em;
  padding-right: 1em;
}

.pointImg{
  margin-right: 1em;
    border: 1px solid gray;
    padding: 1em;
    height: 50px;
    width: 50px;
}

.listElement{
  list-style: none;
}

.selection{
  display: inline-flex;
  border: 2px solid #c5bcbcb3;
  margin-top: 1em;
  justify-content: space-around;
  width: 90%;
}

#adults{
  width: 120px;
}

#childe{
  width: 120px;
}

.buttonSerach{
  margin-top: 1em;
  margin-left: 0em;
  text-align: center;
  padding: 1em;
  background-color: red;
  width: 85%;
  border: none;
  color: white;
}

.bigSection{
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  border-radius: 10px;
}

.article{
  margin: 1em;
  width: 20%;
  box-shadow: 1px 1px 7px;
  border-radius: 10%;
}

.article img{
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  height: 40%;
}

.article h4{
  margin: 0;
  padding: 0.5em;
  font-size: larger;
}

.article p{
  margin: 0;
  padding: 1em;
}

.article button{
  margin-bottom: 2em;
}

.bigSection {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Aggiungi questo per una migliore distribuzione */
}

.card-wrapper {
  flex: 1 1 100%; /* Imposta a 100% per smartphone */
  margin: 10px;
}

@media (min-width: 576px) {
  .card-wrapper {
      flex: 1 1 calc(50% - 20px); /* 2 cards per riga su tablet */
  }
}

@media (min-width: 768px) {
  .card-wrapper {
      flex: 1 1 calc(33.33% - 20px); /* 3 cards per riga su laptop */
  }
}

@media (min-width: 1200px) {
  .card-wrapper {
      flex: 1 1 calc(25% - 20px); /* 4 cards per riga su laptop */
  }
}

/*main List*/

.aggiornaCard{
  position: fixed;
  padding: 2em;
  background: white;
  z-index: 3;
  box-shadow: 1px 1px 15px;
  left: 38em;
  top: 20em;
}

.eliminaCard{
  position: fixed;
  padding: 2em;
  background: white;
  z-index: 3;
  box-shadow: 1px 1px 15px;
  left: 46em;
  top: 20em;
}

.cardCarosuel{
  cursor: pointer;
    margin: 1em;
    width: 100%;
    box-shadow: -7px 5px 14px;
    padding-bottom: 1em;
}

.imgCopertina{
  height: 200px;
  width: 100%;
}

.preferitiImg{
  right: 0em;
  top: 0em;
  cursor: pointer;
  color: black;
  padding: 1em;
  z-index: 2;
}

.card{
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p{
  margin: 0;
  padding: 0.5em;
}

.card h3{
  margin: 0;
  padding: 0.5em;
}

.card button{
  border-radius: 10px;
  background-color: #63e3fd;
  color: white;
  border-color: #36ff93;
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Optional: a different shadow on hover */
}

/*main Dettaglio*/

.imageProduct{
  margin: 2em;
}

.imageProduct img{
  height: 200px;
}

/*main Create*/

.backgroundCreate{
  background-image: url(./img/cielo-azzurro-con-nuvole-bianche_55883-8492.avif);
  background-size: contain;
}

.create{
  position: absolute;
  top: 14em;
  left: 27em;
  z-index: 3;
  background-color: white;
  box-shadow: -1px -1px 12px;
  padding: 1em;
  border-radius: 10px;
}

.create input{
  margin: 2em;
}

.create button{
  margin: 1em;
}

/*main favoriti*/

.favoriteCard{
  margin: 2em;
  box-shadow: 1px 0px 8px;
  background-color: #f3f3f3;
}

/*footer*/

.footerBorder {
  padding: 2em;
  color: white;
  background-color: #282c34;
  border-top: solid 3px blue;
  text-align: center;
}