/*con header, main e footer globale intendo tutte quelle caratteristiche che dovranno avere indipendemente in quale pagina si trovano*/

/*globale*/

.linkScorrere{
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 0.5em;
  margin: 1em;
  border-radius: 10px;
}

.linkScorrere:hover{
 color: rgb(46, 179, 231);
}

/*header globale*/

header{
  padding: 1em;
  color: white;
  background-color: #0a0a0a;
  border-bottom: solid 3px rgb(246, 250, 31);
  text-align: center;
}

.profile{
  border: none;
  border-radius: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 1em;
}

.profileDropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 3;
}

.brand{
  font-size: x-large;
  font-weight: bolder;
  color: orangered;
  margin: 1em;
}

#alertError{
  position: fixed;
  z-index: 3;
  background-color: #ff5454db;
  width: 80%;
  text-align: center;
  left: 8em;
  top: 7em;
  padding: 1em;
  color: #891f1f;
  border-radius: 15px;
}

.alertLoginRegister{
  position: fixed;
  z-index: 3;
  background-color: #54ff54db;
  width: 80%;
  text-align: center;
  left: 8em;
  top: 7em;
  padding: 1em;
  color: #1f891f;
  border-radius: 15px;
}


header a{
  text-decoration: none;
  color: black;
}


.modal-overlay{
  position: absolute;
  color: black;
  box-shadow: 1px 1px 12px;
  background: white;
  left: 13em;
  top: 20em;
  z-index: 3;
  padding: 2em;
}

.form{
  padding: 2em;
  text-align: center;
  box-shadow: -1px 1px 13px 1px;
  width: 60%;
  position: absolute;
  left: 18em;
  bottom: 15em;
  background-color: white;
  z-index: 2;
}

.buttonSerach{
  text-align: center;
  padding: 1em;
  background-color: #2196F3;
  border-color: #2196F3;
  color: white;
  border-radius: 10px;
}

.globalNavbarHeader {
  display: inline-grid; 
  justify-content: space-between;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;

}

@media (min-width: 767px) {
  .globalNavbarHeader {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
  }
}

.profileDropdown ul {
  position: absolute;
  background-color: white;
  padding: 1em;
  margin: 0;
  z-index: 3;
  box-shadow: 1px 1px 11px;
  border-radius: 10px;
  left: -1em;
  width: 16em;
}

.profileDropdown li:hover{
  color: rgb(123, 194, 18);
}

@media (min-width: 767px) {
  .profileDropdown ul{
    position: absolute;
    background-color: white;
    padding: 1em;
    margin: 0;
    z-index: 3;
    box-shadow: 1px 1px 11px;
    border-radius: 10px;
    left: -5em;
    width: 12em;
  }
}


.profileDropdown{
  position: absolute;
}

.profileDropdown ul li{
  list-style: none;
  padding: 1em;
  box-shadow: 0px 1px 4px;
}

/*loading globale*/

.caricamentoSchermata{
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

/*error globale*/

/*main globale*/

main {
  flex: 1;
}

.buttonGroup{
  background: #29ff6382;
  padding-bottom: 1em;
  padding-top: 1em;
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Optional: a different shadow on hover */
}

main{
  margin: 0;
  text-align: center;
  min-height: 43.9em;
}

.buttonD{
  border-radius: 10px;
  background-color: #d1645c;
  color: white;
  border-color: #E91E63;
  padding: 0.5em;
}

.buttonD:hover{
  background-color: red;
}

.divGroup{
  border-bottom: solid #6be0ff 1px;
  border-top: solid #6be0ff 1px;
  justify-content: space-around;
  padding: 1em;
}


#buttonList{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  border-radius: 10px;
  background-color: #89cff5;
  border: none;
  width: 100%;
}

/*main Home*/

.imgCopertinahome{
  background-image: url(./img/backgourn\ titolo.jpg);
  background-size: 50%;
}

.titlePrimary{
  background-color: white;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  border-radius: 10px;
}

.bigSection{
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Aggiungi questo per una migliore distribuzione */
}

.card-wrapper {
  flex: 1 1 100%; /* Imposta a 100% per smartphone */
  margin: 10px;
}

@media (min-width: 576px) {
  .card-wrapper {
      flex: 1 1 calc(50% - 20px); /* 2 cards per riga su tablet */
  }
}

@media (min-width: 768px) {
  .card-wrapper {
      flex: 1 1 calc(33.33% - 20px); /* 3 cards per riga su laptop */
  }
}

@media (min-width: 1200px) {
  .card-wrapper {
      flex: 1 1 calc(25% - 20px); /* 4 cards per riga su laptop */
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(80px);
      opacity: 0.8; /* Leggermente sfocato */
  }
  100% {
      transform: translateY(0);
      opacity: 1; /* A fuoco */
  }
}

.card-wrapper {
  animation: slideIn 6s forwards; /* Durata di 3 secondi */
}

.mainHome{
  display: inline-grid;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 767px) {
  .mainHome {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
}

/*main List*/

.imgCopertinaList{
  background-image: url("https://content.skyscnr.com/m/280b941c14ffb962/original/GettyImages-491767692.jpg?resize=1224%3Aauto");
  background-size: 100%;
}

.cardList{
  width: 30%;
  margin: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}

.cardList:hover{
  box-shadow: -3px 2px 9px;}

.cardCarosuel{
  cursor: pointer;
    margin: 1em;
    width: 100%;
    box-shadow: -7px 5px 14px;
    padding-bottom: 1em;
}

.imgCopertina{
  height: 200px;
  width: 100%;
}

.preferitiImg{
  cursor: pointer;
  color: #ff4747;
  padding: 1em;
}

/*main Dettaglio*/

#imgCopertinaDettaglio{
  background-image: url("https://boscolo-viaggi-res.cloudinary.com/images/w_2560,h_1709/f_auto,q_auto/v1697632955/Blog/volo_aereo_s9e6go/volo_aereo_s9e6go.jpg?_i=AA");
  background-size: cover;
  background-repeat: repeat-y;
}

.BigSectionDettaglio h3{
  padding: 0.5em;
  background-color: white;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.BigSectionDettaglio img{
  width: 50%;
  margin: auto;
  padding: 1em;
}

.luogoCasa{
  display: flex;
  background-color: white;
  width: 80%;
  text-align: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 10px;
  margin: auto;
}

.luogoCasa p{
 margin: 0;
 padding-left: 1em;
 padding-right: 1em;
}

.maindDettaglio{
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-bottom: solid 1px #48deff;
}

#buttonDettaglio{
  padding: 3em;
  box-shadow: -2px -1px 16px 0px;
  border-radius: 10px;
}

/*main Create*/

.aggiornaCard{
  position: fixed;
  padding: 2em;
  background: white;
  z-index: 3;
  box-shadow: 1px 1px 15px;
  left: 38em;
  top: 20em;
}

.eliminaCard{
  position: fixed;
  padding: 2em;
  background: white;
  z-index: 3;
  box-shadow: 1px 1px 15px;
  left: 46em;
  top: 20em;
}


.backgroundCreate{
  background-image: url(./img/cielo-azzurro-con-nuvole-bianche_55883-8492.avif);
  background-size: contain;
}

.buttonCreate{
  width: 30%;
  padding: 1em;
  border-radius: 10px;
  background-color: #89cff5;
  border: none;
  margin-top: 1em;
}

.create{
  position: fixed;
  top: 7em;
  left: 10em;
  z-index: 3;
  background-color: white;
  box-shadow: -1px -1px 12px;
  padding: 1em;
  border-radius: 10px;
  width: 80%;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

.create input{
  margin: 2em;
}

.create button{
  margin: 1em;
}


#buttonDCreate1{
  border-radius: 10px;
  color: white;
  padding: 0.5em;
  background-color: greenyellow;
  border-color: greenyellow;
}

#buttonDCreate2{
  border-radius: 10px;
  color: white;
  padding: 0.5em;
  background-color: red;
  border-color: red;
}


/*main favoriti*/

.imgCopertinaFavoriti{
  background-image: url("https://heymondo.it/blog/wp-content/uploads/2023/07/Maldive-2.jpg.webp");
  background-size: cover;
  background-repeat: repeat-y;
}

/*main prenotazioni*/

.imgCopertinaPrenotazioni{
  background-image: url("https://cdn.studenti.stbm.it/images/2017/01/17/borse-da-viaggio-orig.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
}

/*footer*/

.footerBorder {
  padding: 2em;
  color: white;
  background-color: #282c34;
  border-top: solid 3px blue;
  text-align: center;
}
